<header>
    <div class="container">
        <h1>
            {{ page.logo }}
            <span class="sr-only">Open charity </span>
        </h1>
        <span id="menu-btn" class="fa fa-bars"></span>
        {{ page.navigation }}
    </div>
</header>
