$screen-xs:767px;
$screen-sm-st:768px;
$screen-sm:991px;
$screen-md-st:992px;
$screen-md:1199px;
$screen-lg:1200px;

$border-color: #dcdde0;
$reg-border-color:#21bec0;
$gray-text: #818181;
$white:#fff;
$black:#000;
$dark-bd:#454850;
$base-font-color:#575656;
$main-color:#61c0bd;
$btn-background:#5fc0c3;
$reg-left-color:#5b6172;
$main-color-hover:#66B7BF;
$skyblue-bg:#5dc0c9;
$gray-bg:#f1f2f5;
$blog-h2:#61c0bd;
$heading-color:#575656;
$light-border:#f3f3f6;
$blog-background:#5d5e61;
$footer-p:#979eb1;